<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Valores default-->
    <add key="pagina_busqueda" value="http://www.dolarhoy.com/" />
    
    	<add key="xpath_busqueda" value="/html/body/div/div/div/div[1]/div[7]/table/tbody/tr[1]/td[3]" />    
	    <add key="xpath_valida" value="/html/body/div/div/div/div[1]/div[7]/table/tbody/tr[1]/td[1]/a" />
      <add key="xpath_valida_valor" value="Banco Nación" />
	
	    <add key="xpath_busqueda2" value="/html/body/div/div/div/div[1]/div[8]/table/tbody/tr[1]/td[3]" />    
	    <add key="xpath_valida2" value="/html/body/div/div/div/div[1]/div[8]/table/tbody/tr[1]/td[1]/a" />
	    <add key="xpath_valida_valor2" value="Euro" />
    
    <add key="archivo_resultado" value="c:\borrar\resultado_xpath.txt" />
       
    <!--Inicio de la app-->
    <add key="inicioYCierraSolo" value="true" />
  
  </appSettings>
</configuration>